<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q8-x64" version="7.0.5.900" targetFramework="net462" />
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net462" />
  <package id="MathNet.Numerics.MKL.Win" version="2.3.0" targetFramework="net462" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net462" />
  <package id="SharpLearning.Common.Interfaces" version="0.31.8" targetFramework="net462" />
  <package id="SharpLearning.Containers" version="0.31.8" targetFramework="net462" />
  <package id="SharpLearning.InputOutput" version="0.31.8" targetFramework="net462" />
  <package id="SharpLearning.Metrics" version="0.31.8" targetFramework="net462" />
  <package id="SharpLearning.Neural" version="0.31.8" targetFramework="net462" />
</packages>